In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Load the COVID test result counts by zip

In [4]:
covid_count = pd.read_csv('../data/COVID_CountByZipPerDate_03292021.csv')

In [7]:
covid_count.head(5)

  Specimen Collection Date      Zip  Cases
0                 3/6/2020  37217.0      1
1                3/10/2020  37214.0      1
2                3/11/2020  37013.0      1
3                3/11/2020  37204.0      2
4                3/11/2020  37205.0      1

In [8]:
max(covid_count['Cases'])

272