In [4]:
from shapely.geometry import Point
import seaborn as sns
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib as mpl
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

sns.set_style("dark")
#this is geospatial workbook - it might not like seaborn? getting error that it's not found

In [5]:
income_raw=pd.read_excel('../data/income_zip.xlsx')

In [39]:
income_raw.head(3)

,B19001,Household Income in the Past 12 Months (In 2019 Inflation-adjusted Dollars),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84
0,NaN,37013,NaN,37015,NaN,37027,NaN,37062,NaN,37064,...,37221,NaN,37228,NaN,37240,NaN,37243,NaN,37246,NaN
1,NaN,Value,Error,Value,Error,Value,Error,Value,Error,Value,...,Value,Error,Value,Error,Value,Error,Value,Error,Value,Error
2,Total:,35597,617,6673,279,19950,382,4040,188,21640,...,17959,354,1051,240,0,12,0,12,0,12

In [11]:
income_data = pd.read_excel("../data/income_zip.xlsx", skiprows = 1, header=[0, 1], sheet_name = 0)
income_data = income_data[income_data.columns.drop(list(income_data.filter(regex='Error')))]
income_data.columns = income_data.columns.droplevel(1)
income_clean = income_data.set_index('Unnamed: 0_level_0').T.reset_index().rename({"index": "zipcode"}, axis = 1)

In [26]:
income_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   zipcode               42 non-null     object
 1   Total:                42 non-null     int64
 2   Less than $10,000     42 non-null     int64
 3   $10,000 to $14,999    42 non-null     int64
 4   $15,000 to $19,999    42 non-null     int64
 5   $20,000 to $24,999    42 non-null     int64
 6   $25,000 to $29,999    42 non-null     int64
 7   $30,000 to $34,999    42 non-null     int64
 8   $35,000 to $39,999    42 non-null     int64
 9   $40,000 to $44,999    42 non-null     int64
 10  $45,000 to $49,999    42 non-null     int64
 11  $50,000 to $59,999    42 non-null     int64
 12  $60,000 to $74,999    42 non-null     int64
 13  $75,000 to $99,999    42 non-null     int64
 14  $100,000 to $124,999  42 non-null     int64
 15  $125,000 to $149,999  42 non-null     int64
 16  $150,000 to $199,999  42 non-null     int64
 17  $200,000 or more      42 non-null     int64
dtypes: int64(17), object(1)
memory usage: 6.0+ KB

In [16]:
income_clean.head(50)

Unnamed: 0_level_0,zipcode,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"
0,37013,35597,1424,1023,1197,1751,1647,1685,1748,1937,1748,3956,4510,5507,3547,1703,1212,1002
1,37015,6673,421,256,115,415,365,452,350,277,323,719,903,903,639,294,157,84
2,37027,19950,460,173,246,250,254,250,316,538,472,597,1235,1861,2167,1688,2837,6606
3,37062,4040,119,122,138,140,123,124,121,216,140,329,569,645,468,342,286,158
4,37064,21640,771,302,623,512,609,630,721,495,567,1479,1784,2293,2338,2265,2394,3857
5,37072,12533,534,412,456,674,687,506,518,568,544,1095,1311,2186,1120,784,652,486
6,37073,5425,233,151,169,236,290,325,282,184,288,549,557,698,620,262,399,182
7,37075,24275,743,422,553,687,682,986,1058,948,1011,2052,3003,3497,2271,2203,2004,2155
8,37076,17389,698,405,626,496,946,740,912,662,918,1445,2146,2648,1709,1167,1193,678
9,37080,3012,112,119,254,131,188,107,225,101,92,264,262,384,263,161,161,188
10,37082,2326,90,114,115,85,72,67,169,52,62,117,248,439,218,158,188,132
11,37086,10545,215,320,394,257,483,396,466,690,579,1010,1692,1717,1276,401,257,392
12,37115,16510,813,948,941,1147,1209,997,1102,847,1070,1660,1848,1966,1039,314,329,280
13,37122,20912,648,369,328,507,673,441,581,652,553,1170,2073,3557,2533,2159,2600,2068
14,37135,4476,56,0,44,18,82,45,232,48,80,154,432,507,501,565,855,857
15,37138,9264,331,242,218,348,411,299,312,675,308,689,1155,1535,962,678,687,414
16,37143,1552,80,21,26,56,43,72,54,54,36,164,215,282,149,163,77,60
17,37189,1509,52,1,85,51,27,41,72,29,80,113,185,281,171,144,99,78
18,37201,526,62,0,0,0,18,0,0,41,0,37,90,104,18,0,89,67
19,37203,8726,1222,492,313,348,242,245,233,318,339,938,916,1154,560,338,340,728
20,37204,5962,274,85,127,164,215,227,276,218,246,231,527,691,626,468,488,1099
21,37205,10778,280,249,282,170,139,402,183,317,281,607,586,1444,1297,704,981,2856
22,37206,11550,959,643,524,694,395,432,496,372,354,950,1087,1194,1017,653,1008,772
23,37207,14909,1493,850,776,991,1017,897,970,810,689,923,1711,1733,814,718,347,170
24,37208,7974,1352,576,432,498,371,450,310,288,260,604,488,831,385,279,498,352
25,37209,15884,1366,853,577,666,775,653,468,928,808,1309,1591,1850,1402,879,792,967
26,37210,6967,1135,342,464,679,397,331,355,258,181,567,563,690,379,223,173,230
27,37211,29450,1449,1148,1226,1235,1743,1361,1739,1412,1408,2717,3096,4370,2382,1676,1382,1106
28,37212,6957,417,249,324,416,204,362,258,361,167,580,398,781,423,453,651,913
29,37213,22,0,0,0,0,0,12,0,0,0,0,0,10,0,0,0,0
30,37214,13894,497,358,581,370,604,824,597,707,711,1554,2011,2109,1417,563,620,371
31,37215,9998,243,179,236,186,146,482,188,233,341,347,595,907,753,837,1288,3037
32,37216,7923,320,198,455,290,210,274,609,442,484,627,699,1000,1044,355,516,400
33,37217,12470,510,472,453,646,737,883,752,1061,895,1200,1282,1894,831,472,222,160
34,37218,5854,683,339,331,254,140,454,316,275,290,451,523,893,428,141,167,169
35,37219,829,39,0,0,0,69,48,50,0,0,13,53,197,111,103,76,70
36,37220,2316,8,18,47,51,36,94,16,38,59,167,163,251,243,201,202,722
37,37221,17959,483,408,494,481,505,605,608,772,604,1379,1714,2719,2599,1286,1587,1715
38,37228,1051,93,59,203,68,52,131,14,14,26,118,180,23,15,25,13,17
39,37240,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,37243,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41,37246,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Bring in the populations

In [18]:
pop_raw=pd.read_csv('../data/zipcode_population.csv')

In [38]:
pop_raw.head(3)

   number zipcode               lat,long                     city     pop
0       1   37916  35.953657, -83.933148     Knoxville,Â Tennessee  11,672
1       2   37614  36.301650, -82.370809  Johnson City,Â Tennessee   2,036
2       3   37212  36.133973, -86.801471     Nashville,Â Tennessee  18,547

In [35]:
pop_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    610 non-null    int64
 1   zipcode   610 non-null    object
 2   lat,long  610 non-null    object
 3   city      610 non-null    object
 4   pop       610 non-null    object
dtypes: int64(1), object(4)
memory usage: 24.0+ KB

In [ ]:
#make the zipcode an object to match income
pop_raw['zipcode']=pop_raw['zipcode'].astype(object)

In [23]:
#match the column names
pop_raw.rename(columns = {'zip':'zipcode'}, inplace=True)

In [37]:
pop_raw.head(20)

    number zipcode               lat,long                     city     pop
0        1   37916  35.953657, -83.933148     Knoxville,Â Tennessee  11,672
1        2   37614  36.301650, -82.370809  Johnson City,Â Tennessee   2,036
2        3   37212  36.133973, -86.801471     Nashville,Â Tennessee  18,547
3        4   37351  35.104194, -85.264615   Lupton City,Â Tennessee     270
4        5   37744  36.182885, -82.740218   Greeneville,Â Tennessee     372
5        6   38105  35.150642, -90.033969       Memphis,Â Tennessee   8,976
6        7   38104  35.132422, -90.004640       Memphis,Â Tennessee  24,727
7        8   38115  35.053329, -89.862806       Memphis,Â Tennessee  40,401
8        9   38114  35.096438, -89.985644       Memphis,Â Tennessee  34,120
9       10   38111  35.110521, -89.943501       Memphis,Â Tennessee  45,077
10      11   38126  35.126608, -90.042212       Memphis,Â Tennessee   8,104
11      12   38112  35.147662, -89.976392       Memphis,Â Tennessee  19,200
12      13   38107  35.170636, -90.022027       Memphis,Â Tennessee  22,109
13      14   37201  36.165550, -86.777679     Nashville,Â Tennessee   1,167
14      15   37206  36.180771, -86.730153     Nashville,Â Tennessee  27,751
15      16   38122  35.158183, -89.921806       Memphis,Â Tennessee  24,791
16      17   37208  36.178567, -86.805263     Nashville,Â Tennessee  15,272
17      18   37219  36.166457, -86.782946     Nashville,Â Tennessee     830
18      19   37402  35.046090, -85.314720   Chattanooga,Â Tennessee   4,302
19      20   37211  36.066734, -86.722609     Nashville,Â Tennessee  64,753

##we need merge the income dataframe with the income dataframe, and we can do a join on the income zipcodes in order to include only davidson county

In [32]:
cases_income = pd.merge(income_clean,pop_raw, on=['zipcode'], how='left')

In [36]:
cases_income.head()

,zipcode,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999",...,"$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",number,"lat,long",city,pop
0,37013,35597,1424,1023,1197,1751,1647,1685,1748,1937,...,4510,5507,3547,1703,1212,1002,NaN,NaN,NaN,NaN
1,37015,6673,421,256,115,415,365,452,350,277,...,903,903,639,294,157,84,NaN,NaN,NaN,NaN
2,37027,19950,460,173,246,250,254,250,316,538,...,1235,1861,2167,1688,2837,6606,NaN,NaN,NaN,NaN
3,37062,4040,119,122,138,140,123,124,121,216,...,569,645,468,342,286,158,NaN,NaN,NaN,NaN
4,37064,21640,771,302,623,512,609,630,721,495,...,1784,2293,2338,2265,2394,3857,NaN,NaN,NaN,NaN